$navbar-height: 54px
$navbar-brand-font-size: 1.2rem

@import ~materialize-css/sass/components/color-variables

$primary-color: color('indigo', 'lighten-2')

@import ~materialize-css/sass/materialize

$body-bg: #f5f5f5
$md-spacing: 20px
$sm-spacing: 10px

body
  background-color: $body-bg 

.navbar-fixed
  margin-bottom: $sm-spacing
  nav 
    padding: 0 $md-spacing
    .brand-logo
      left: 0
      transform: translateX(0%)
      svg
        position: relative
        bottom: -3px
        font-size: 24px

.row
  padding: 0 $sm-spacing
  margin-bottom: $sm-spacing
  
.card 
  margin: $sm-spacing 0
  &#code-card
    height: calc(100vh - 54px - 20px - 20px)

.not-selectable 
  user-select: none

.full-tab-content 
  height: calc(100% - 48px)
  overflow: scroll

.col .row 
  margin-left: $sm-spacing
  margin-right: $sm-spacing

.mb-0
  margin-bottom: 0

.mt
  margin-top: $md-spacing

.mt-lg
  margin-top: $md-spacing * 2